{{#extends "base"}}
{{#block "content"}}

<h1>Edting New Film</h1>

<form method = "POST">
<div>
    <label class="form-label">Title</label>
    <input type="text" class="form-control" name="title" value="{{film.title}}"/>
</div>
<div>
    <label class="form-label">Description</label>
    <input type="text" class="form-control" name="description" value="{{film.description}}"/>
</div>
<div>
    <label class="form-label">Release Year</label>
    <input type="text" class="form-control" name="release_year" value="{{film.release_year}}"/>
</div>
<div>
    <label class="form-label">Original Language</label>
    <select class="form-control" name="original_language_id" value="{{film.original_language_id}}">
        {{#each languages}}
        <option {{#eq this.language_id ../film.original_language_id}}selected{{/eq}} value="{{this.language_id}}">{{this.name}}</option>
        {{/each}}
    </select> 
</div>
<div>
    <label class="form-label">Language</label>
    <select class="form-control" name="language_id" value="{{film.language_id}}">
        {{#each languages}}
        <option {{#eq this.language_id ../film.language_id}}selected{{/eq}} value="{{this.language_id}}">{{this.name}}</option>
        {{/each}}
    </select> 
</div>
<div>
    <label class="form-label">Rental Duration</label>
    <input type="text" class="form-control" name="rental_duration" value="{{film.rental_duration}}"/>
</div>
<div>
    <label class="form-label">Rental Rate</label>
    <input type="text" class="form-control" name="rental_rate" value="{{film.rental_rate}}"/>
</div>
<div>
    <label class="form-label">Length</label>
    <input type="text" class="form-control" name="length" value="{{film.length}}"/>
</div>
<div>
    <label class="form-label">Replacement Cost</label>
    <input type="text" class="form-control" name="replacement_cost" value="{{film.replacement_cost}}"/>
</div>
    <input type="submit" value="Submit" class="btn btn-primary mt-2"></input>

</form>

{{/block}}
{{/extends}}